<html>
  <head>
  </head>
    <body>
      <table class="body-wrap">
         <tr>
            <td>
            </td>
            <td class="container" width="600">
               <div class="content">
                  <table class="main" width="100%" cellpadding="0" cellspacing="0">
                     <tr>
                        <td class="content-wrap">
                           <table  cellpadding="0" cellspacing="0">
                              <tr>
                                 <td>
                                    <!--<img class="img-responsive" src="img/header.jpg"/> Cambiar imagen -->
									<h3 class="logo-name">Comet</h3>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="content-block">
                                    <h3>Confirmaci贸n de Cuenta</h3>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="content-block">
                                    Tu cuenta ha sido registrada exitosamente. Sin embargo, para poder hacer uso completo del sistema, debes confirmar tu direcci贸n de correo haciendo click en el bot贸n que se encuentra a continuaci贸n:
                                 </td>
                              </tr>
                              <tr>
                                 <td class="content-block aligncenter">
                                    <a href="<%= message.link %>" class="btn-primary">Confirmar correo</a>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </div>
            </td>
            <td>
            </td>
         </tr>
      </table>
  </body>
</html>
