<html>
  <head>
  </head>
    <body>
      <table class="body-wrap">
         <tr>
            <td>
            </td>
            <td class="container" width="600">
               <div class="content">
                  <table class="main" width="100%" cellpadding="0" cellspacing="0">
                     <tr>
                        <td class="content-wrap">
                           <table  cellpadding="0" cellspacing="0">
                              <tr>
                                 <td>
                                    <h1>Comet</h1>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="content-block">
                                    <h3>Invitación a Proyecto {Nombre Proyecto}</h3>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="content-block">
                                    Bienvenido a tu nuevo proyecto bla bla
                                 </td>
                              </tr>
                              <tr>
                                 <td class="content-block aligncenter">

                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </div>
            </td>
            <td>
            </td>
         </tr>
      </table>
  </body>
</html>
