<html>
  <head>
  </head>
    <body>
      <table class="body-wrap">
         <tr>
            <td>
            </td>
            <td class="container" width="600">
               <div class="content">
                  <table class="main" width="100%" cellpadding="0" cellspacing="0">
                     <tr>
                        <td class="content-wrap">
                           <table  cellpadding="0" cellspacing="0">
                              <tr>
                                 <td>
                                    <h1>Comet</h1>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="content-block">
                                    <h3>Invitaci贸n a Proyecto <%= project.name %></h3>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="content-block">
                                    <%= project.owner %> te ha invitado a formar parte de su proyecto.
                                    Para aceptar la invitaci贸n debe hacer click en el siguiente bot贸n:
                                 </td>
                              </tr>
                              <tr>
                                <td class="content-block aligncenter">
                                   <a href="<%= project.link %>" class="btn-primary">Aceptar Invitaci贸n</a>
                                </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </div>
            </td>
            <td>
            </td>
         </tr>
      </table>
  </body>
</html>
