<html>
  <head>
  </head>
    <body>
      <table class="body-wrap">
         <tr>
            <td>
            </td>
            <td class="container" width="600">
               <div class="content">
                  <table class="main" width="100%" cellpadding="0" cellspacing="0">
                     <tr>
                        <td class="content-wrap">
                           <table  cellpadding="0" cellspacing="0">
                              <tr>
                                 <td>
                                    <!--<img class="img-responsive" src="img/header.jpg"/> Cambiar imagen -->
									                  <img src="http://imageshack.com/a/img913/6655/g3zsUp.png" alt="Comet">
                                 </td>
                              </tr>
                              <tr>
                                 <td class="content-block">
                                    <h3>Lamentamos verte ir :(</h3>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="content-block">
                                 </td>
                              </tr>
                              <tr>
                                 <td class="content-block aligncenter">

                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </div>
            </td>
            <td>
            </td>
         </tr>
      </table>
  </body>
</html>
