<html>
  <head>
  </head>
    <body>
      <table class="body-wrap">
         <tr>
            <td>
            </td>
            <td class="container" width="600">
               <div class="content">
                  <table class="main" width="100%" cellpadding="0" cellspacing="0">
                     <tr>
                        <td class="content-wrap">
                           <table  cellpadding="0" cellspacing="0">
                             <tr>
                                <td style="width:45px;">
                                   <img src="https://cloud.githubusercontent.com/assets/7783727/14404969/f768216c-fe59-11e5-9d15-a69136b6f288.png" alt="Comet" width="45">
                                </td>
                                <td class="content-block">
                                   <h3>Bienvenido a Comet!</h3>
                                </td>
                             </tr>
                              <tr>
                                 <td colspan="2" class="content-block">
                                    Esperamos que disfrutes trabajar con nosotros!
                                 </td>
                              </tr>
                              <tr>
                                 <td colspan="2" class="content-block">
                                    Para poder hacer uso completo del sistema, debes confirmar tu dirección de correo haciendo click en el botón que se encuentra a continuación:
                                 </td>
                              </tr>
                              <tr>
                                 <td colspan="2" class="content-block aligncenter">
                                    <a href="<%= message.link %>" class="btn-primary">Confirmar correo</a>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </div>
            </td>
            <td>
            </td>
         </tr>
      </table>
  </body>
</html>
